@font-face {
  font-family: "Gotham Rounded";
  font-style: italic;
  font-weight: bold;
  src: url("GothamRnd-Bold.eot");
  src: local("Gotham Rounded Bold Italic"), local("GothamRnd-Bold"), url("../fonts/GothamRnd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRnd-Bold.woff2") format("woff2"), url("../fonts/GothamRnd-Bold.woff") format("woff"), url("../fonts/GothamRnd-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(200, 200, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 100, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.calculator-grid .calc-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(120px, auto) (100px)[5];
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  -ms-grid-columns: (100px)[4];
  grid-template-columns: repeat(4, 100px);
  place-content: center;
  min-height: 100vh;
}

.calculator-grid .calc-buttons>button {
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #fff;
  outline: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.calculator-grid .calc-buttons>button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid .twice {
  grid-column: span 2;
}

.calculator-grid .output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / -1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
}

.calculator-grid .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

.calculator-grid .current-operand {
  font-size: 2.5rem;
  color: #fff;
}
