@font-face {
  font-family: "Gotham Rounded";
  font-style: italic;
  font-weight: bold;
  src: url("GothamRnd-Bold.eot");
  src: local("Gotham Rounded Bold Italic"), local("GothamRnd-Bold"), url("../fonts/GothamRnd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRnd-Bold.woff2") format("woff2"), url("../fonts/GothamRnd-Bold.woff") format("woff"), url("../fonts/GothamRnd-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background: linear-gradient(217deg, rgba(30, 30, 30, 0.95), rgba(40, 30, 50, 0) 95%), linear-gradient(127deg, rgba(30, 40, 50, 0.95), rgba(50, 30, 40, 0) 95%), linear-gradient(336deg, rgba(40, 30, 30, 0.95), rgba(30, 40, 50, 0) 95%);
}

/*********************
BREAKPOINTS
*********************/
/*********************
THEME
*********************/
.calculator-grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.calculator-grid .calc-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(120px, auto) (100px)[5];
      grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  -ms-grid-columns: (100px)[4];
      grid-template-columns: repeat(4, 100px);
  -webkit-box-shadow: -5px 5px 25px rgba(30, 40, 50, 0.5), 3px -6px 16px rgba(50, 30, 40, 0.5);
          box-shadow: -5px 5px 25px rgba(30, 40, 50, 0.5), 3px -6px 16px rgba(50, 30, 40, 0.5);
}

@media (max-width: 37.5em) {
  .calculator-grid .calc-buttons {
    -ms-grid-rows: minmax(90px, auto) (75px)[5];
        grid-template-rows: minmax(90px, auto) repeat(5, 75px);
    -ms-grid-columns: (75px)[4];
        grid-template-columns: repeat(4, 75px);
  }
}

.calculator-grid .calc-buttons > button {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #bbb;
  outline: none;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: color, text-shadow, background-color;
  transition-property: color, text-shadow, background-color;
}

@media (max-width: 37.5em) {
  .calculator-grid .calc-buttons > button {
    font-size: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .calculator-grid .calc-buttons > button {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #444;
  }
}

.calculator-grid .calc-buttons > button:focus, .calculator-grid .calc-buttons > button:hover {
  color: #000;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
  .calculator-grid .calc-buttons > button:focus, .calculator-grid .calc-buttons > button:hover {
    color: #fff;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.calculator-grid .twice {
  grid-column: span 2;
}

.calculator-grid .output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / -1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (prefers-color-scheme: dark) {
  .calculator-grid .output {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.calculator-grid .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 37.5em) {
  .calculator-grid .previous-operand {
    font-size: 1.0rem;
  }
}

@media (prefers-color-scheme: dark) {
  .calculator-grid .previous-operand {
    color: rgba(0, 0, 0, 0.75);
  }
}

.calculator-grid .current-operand {
  font-size: 2.5rem;
  color: #fff;
}

@media (max-width: 37.5em) {
  .calculator-grid .current-operand {
    font-size: 2.0rem;
  }
}

@media (prefers-color-scheme: dark) {
  .calculator-grid .current-operand {
    color: #000;
  }
}
