.calculator-grid {
  display: grid;
  place-items: center;
  min-height: 100vh;

  .calc-buttons {
    display: grid;
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    grid-template-columns: repeat(4, 100px);
    box-shadow: -5px 5px 25px rgba(30, 40, 50, .5), 3px -6px 16px rgba(50, 30, 40, .5);
    @include breakpoint(mobileonly) {
      grid-template-rows: minmax(90px, auto) repeat(5, 75px);
      grid-template-columns: repeat(4, 75px);
    }

    & > button {
      font-size: 2rem;
      color:rgba(0, 0, 0, 0.75);
      text-shadow: 0 0 3px rgba(0, 0, 0, .6);
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.75);
      border: 1px solid #bbb;
      outline: none;
      transition-timing-function: ease-out;
      transition-duration: .3s;
      transition-property: color, text-shadow, background-color;
      @include breakpoint(mobileonly) {
        font-size: 1.5rem;
      }
      @include theme(dark) {
        color:rgba(255, 255, 255, 0.75);
        text-shadow: 0 0 3px rgba(255, 255, 255, .6);
        background-color: rgba(0, 0, 0, 0.75);
        border: 1px solid #444;
      }

      &:focus,
      &:hover {
        color:#000;
        text-shadow: 0 0 3px rgba(0, 0, 0, .4);
        background-color: rgba(255, 255, 255, 0.8);
        @include theme(dark) {
          color:#fff;
          text-shadow: 0 0 3px rgba(255, 255, 255, .4);
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  .twice {
    grid-column: span 2;
  }

  .output {
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 1 / -1;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
    text-shadow: 0 0 3px rgba(255, 255, 255, .6);
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.75);
    @include theme(dark) {
      color:rgba(255, 255, 255, 0.75);
      text-shadow: 0 0 3px rgba(0, 0, 0, .6);
      background-color: rgba(255, 255, 255, 0.75);
    }
  }

  .previous-operand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
    @include breakpoint(mobileonly) {
      font-size: 1.0rem;
    }
    @include theme(dark) {
      color:rgba(0, 0, 0, 0.75);
    }
  }

  .current-operand {
    font-size: 2.5rem;
    color: #fff;
    @include breakpoint(mobileonly) {
      font-size: 2.0rem;
    }
    @include theme(dark) {
      color:#000;
    }
  }
}
